<template>
  <section>
    <div class="title-wrap">
        <title-banner></title-banner>
    </div>
    <countdown-list></countdown-list>
    <round-button class="fixed-button" @click="openCountdownWizard"></round-button>
    <modal v-if="visible_countdown_wizard" @close="closeWizard">
        <countdown-wizard @submitCountdown="addCountdownAndCloseWizard">
        </countdown-wizard>
    </modal>
  </section>
</template>

<script>
import CountdownList from '@/components/CountdownList.vue'
import CountdownWizard from '@/components/CountdownWizard.vue'
import Modal from '@/components/ui/Modal.vue'
import RoundButton from '@/components/ui/RoundButton.vue'
import TitleBanner from '@/components/ui/TitleBanner.vue'

export default {
    name: 'AppView',
    components: { CountdownList, CountdownWizard, Modal, RoundButton, TitleBanner },
    data()
    {
        return {
            visible_countdown_wizard: false,
        };
    },
    methods:
    {
        openCountdownWizard() { this.visible_countdown_wizard = true; },
        closeWizard() { this.visible_countdown_wizard = false; },
        addCountdownAndCloseWizard({title, descr, end_timestamp})
        {
            // Update state
            this.$store.dispatch('countdown/addCountdown', {title, descr, end_timestamp});
            this.closeWizard();
        },
    },
}
</script>

<style lang="scss" scoped>
.title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
}

.fixed-button {
    position: fixed;
}

@media (min-width: 320px) and (max-width:640px) {
    .fixed-button {
        height: 5rem;
        width: 5rem;
        bottom: 2rem;
        right: 2rem;
    }
}

@media (min-width: 640px)
{
    .fixed-button {
        bottom: 3rem;
        right: 3rem;
    }
}
</style>
