<template>
    <div class="container">
        <h1>new countdown</h1>
        <form @submit.prevent="submitCountdown">
            <div class='form-entry' :class="{invalid: !title.valid}">
                <label for="title">title</label>
                <input type="text" id="title" v-model.trim="title.value">
                <!-- <p class="invalid" v-if="!title.valid">Title must not be empty</p> -->
            </div>
            <div class="form-entry" :class="{invalid: !descr.valid}">
                <label for="descr">description</label>
                <textarea type="text" id="descr" v-model.trim="descr.value"></textarea>
                <!-- <p class="invalid" v-if="!descr.valid">Description must not be empty</p> -->
            </div>
            <div class="form-entry" :class="{invalid: !descr.valid}">
                <label for="descr">date</label>
                <datepicker v-model="date.value" modelType="timestamp"/>
                <!-- <p class="invalid" v-if="!date.valid">Date must not be empty</p> -->
            </div>
            <button>Confirm</button>
        </form>
    </div>
</template>

<script>
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'

export default {
    components: {Datepicker},
    emits: ['submitCountdown'],
    data() {
        return {
            title: { value: '', valid: true },
            descr: { value: '', valid: true },
            date: { value: '', valid: true },
            datepicker_props: {
            },
    };},
    methods: {
        submitCountdown() {
            this.$emit('submitCountdown',
            {
                title: this.title.value,
                descr: this.descr.value,
                end_timestamp: this.date.value,
            });
        },
    },
}
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 640px) {
    h1 {
        font-size: 2rem;
    }
}

h1 {
    color: $theme-orange;
    margin: 0 auto 1rem auto;
    padding: 0 0.5rem 0.3rem 0.5rem;
    border: 1.5px solid $theme-orange;
    background-color: $theme-light-orange;
    border-radius: 15px;
}

form {
    display: block;
    min-width: 70%;
    display: flex;
    flex-direction: column;
}

.form-entry {
    color: $theme-orange;
    display: flex;
    flex-direction: column;
}

input, textarea {
    min-height: 2rem;
    min-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
}

button {
    margin: 1.5rem auto 0 auto;
    min-height: 2rem;
    min-width: 50%;
    max-width: 50%;
    border: 1px solid $theme-orange;
    border-radius: 15px;
    color: $theme-orange;
    background-color: $theme-light-orange;
    cursor: pointer;
}

/* Theme overrides for Vue3datepicker - don't work */
//.dp_theme {
//  --dp-background-color: #ffffff;
//  --dp-text-color: $theme-orange;
//  --dp-hover-color: #f3f3f3;
//  --dp-hover-text-color: #212121;
//  --dp-hover-icon-color: #959595;
//  --dp-primary-color: #1976d2;
//  --dp-primary-text-color: #f8f5f5;
//  --dp-secondary-color: #c0c4cc;
//  --dp-border-color: #ddd;
//  --dp-menu-border-color: #ddd;
//  --dp-border-color-hover: #aaaeb7;
//  --dp-disabled-color: #f6f6f6;
//  --dp-scroll-bar-background: #f3f3f3;
//  --dp-scroll-bar-color: #959595;
//  --dp-success-color: #d3a614 !important;
//  --dp-success-color-disabled: #a3d9b1;
//  --dp-icon-color: #959595;
//  --dp-danger-color: #ff6f60;
//}
</style>
