<template>
    <div class="list-wrapper" v-if="countdown_list.length > 0">
        <card v-for="cd_obj in countdown_list"
              :key="cd_obj.end_timestamp"
              class="card-in-grid">
            <div class="img-wrap">
                <img class="close-btn" src="@/assets/close.svg" @click="deleteCountdown(cd_obj)">
            </div>
            <h3>{{ cd_obj.title }}</h3>
            <p>{{ cd_obj.descr }}</p>
            <p>{{ dateFromTs(cd_obj.end_timestamp) }}</p>
            <p v-if="show_time_left">{{ cd_obj.time_left }}</p>
            <div v-else class="placeholder-div">
                <span class="placeholder-strip"></span>
            </div>
        </card>
    </div>
    <span v-else class="creation-prompt">
        Press the button below to create a countdown.
    </span>
</template>

<script>
import Card from '@/components/ui/Card.vue'
import { mapGetters } from 'vuex'

export default {
    components: { Card },
    name: 'CountdownList',
    emits: ['delete',],
    data()
    {
        return {
            minute: 60,
            hour: 3600,
            day: 86400,
            now: 0, // Auto-updated every second via a setInterval() called on mounted()
            show_time_left: false,
        };
    },
    computed: { ...mapGetters({countdown_list: 'countdown/getCountdowns'}) }, // Get list from state
    watch:
    {
        now(new_value)
        {
            // Recalculate time left
            for(let item of this.countdown_list)
            {
                let s_left = Math.floor((item.end_timestamp - new_value) / 1000);
                if(s_left < 0)
                {
                    item['time_left'] = "No time left.";
                }
                else
                {
                    // Days
                    let d_left = Math.floor(s_left / this.day);
                    s_left -= d_left * this.day;
                    // Hours
                    let h_left = Math.floor(s_left / this.hour);
                    s_left -= h_left * this.hour;
                    // Minutes
                    let m_left = Math.floor(s_left / this.minute);
                    s_left -= m_left * this.minute;
                    // Numbers to strings
                    d_left = d_left < 10 ? `0${d_left}` : `${d_left}`;
                    h_left = h_left < 10 ? `0${h_left}` : `${h_left}`;
                    m_left = m_left < 10 ? `0${m_left}` : `${m_left}`;
                    s_left = s_left < 10 ? `0${s_left}` : `${s_left}`;
                    item['time_left'] = `${d_left} days, \
                                         ${h_left} hours, \
                                         ${m_left} minutes, \
                                         ${s_left} seconds left`;
                }
                this.show_time_left = true;
            }
        }
    },
    methods:
    {
        dateFromTs(timestamp)
        {
            // Leave locale as undefined in order to let
            // the browser use the runtime's default locale
            return new Date(timestamp)
                .toLocaleString(undefined,
                {
                    dateStyle: 'full',
                    timeStyle: 'short',
                });
        },
        deleteCountdown(countdown)
        {
            this.$store.dispatch('countdown/deleteCountdown', countdown);
        },
    },
    mounted()
    {
        setInterval(() => this.now = Date.now(), 1000);
        this.$store.dispatch('countdown/loadCountdowns');
    },
}
</script>

<style lang="scss" scoped>
@media (min-width: 320px) and (max-width:1024px) {
    .list-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .card-in-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .list-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
    .card-in-grid {
        display: inline-block;
        vertical-align: top;
        // Enforce min dimensions now that the blocks are inline
        min-height: 12rem;
        min-width: 25rem;
        margin-left: 0;
        margin-right: 1rem;
    }
}

@keyframes slide-in {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

.card-in-grid {
    animation: slide-in 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h3 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

p:nth-of-type(1) {
    font-size: 1.3rem;
}

p:nth-of-type(2) {
    font-size: 1.1rem;
}

p:nth-of-type(3) {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.creation-prompt {
    font-size: 2rem;
}

.img-wrap {
    /* The holy bifecta of "wrapper div to get
     * the close button to show up top-right" */
    display: flex;
    position: relative;
}

.close-btn {
    /* absolute pos and right:0 are
     * the secret combo for the close button */
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    border-radius: 12px;
}

.placeholder-div {
    height: 1rem;
    margin: 0 auto 1rem auto;
    max-width: 80%;
    overflow: hidden;
    border-radius: 1rem;
    background-color: $theme-light-orange;
}

@keyframes placeholder-animation {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(200%);
  }
}

.placeholder-strip {
    display: block;
    /* Place on top of container div via position: absolute,
     * then animate, which moves it out of the container */
    height: inherit;
    animation: placeholder-animation 1s linear infinite;
    background: linear-gradient(to right, rgba(15,15,15,0) 0%,rgba(255, 166, 0, 0.4) 50%,rgba(255,255,255,0) 100%);
    will-change: transform;
}
</style>
