<template>
    <section>
        <slot></slot>
    </section>
</template>

<script>
export default {
    name: 'Card',
}
</script>

<style lang="scss" scoped>
section {
    box-sizing: border-box;
    max-width: 30rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid $theme-orange;
    box-sizing: border-box;
    border-collapse: collapse;
    box-shadow: 0.2rem 0.2rem 0.1rem gray;
}
</style>
