<template>
    <teleport to="body">
        <dialog open>
            <div class="img-wrap">
                <img class="close-btn" src="@/assets/close.svg" @click="close">
            </div>
            <slot></slot>
        </dialog>
        <div @click="close" class="backdrop"></div>
    </teleport>
</template>

<script>
export default {
    emits: ['close'],
    props:
    {
    },
    methods:
    {
        close() { this.$emit('close'); },
    },
}
</script>

<style lang="scss" scoped>
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(70, 49, 6, 0.75);
    backdrop-filter: blur(0.2rem);
    z-index: 10;
}

@media (max-width: 1024px) {
    dialog { width: 80%; }
}

@media (min-width: 1024px) {
    dialog { width: 40%; }
}

@media (max-width: 640px) {
    .close-btn {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media (min-width: 640px) {
    .close-btn {
        height: 2rem;
        width: 2rem;
    }
}

@keyframes modal-slide-in {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

dialog {
    position: fixed;
    top: 20vh;
    z-index: 20;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(253, 253, 253);
    border: 2px solid $theme-orange;
    box-shadow: 0 5px 15px rgba(255, 166, 0, 0.822);
    animation: modal-slide-in 0.5s cubic-bezier(0.2, 0.82, 0.5, 1);
}

.img-wrap {
    /* The holy bifecta of "wrapper div to get
     * the close button to show up top-right" */
    display: flex;
    position: relative;
}

.close-btn {
    /* absolute pos and right:0 are
     * the secret combo for the close button */
    position: absolute;
    right: 0;
    cursor: pointer;
    border-radius: 12px;
}
</style>
