<template>
    <div class="outer">
        <div class="inner">
            <img src="@/assets/close.svg" alt="">
        </div>
    </div>
</template>

<script>
export default {
    name: 'RoundButton',
}
</script>

<style lang="scss" scoped>
.outer {
    height: 7rem;
    width: 7rem;
    box-sizing: border-box;
    border-radius: 5rem;
    border: 0.5rem solid $theme-light-orange;
    box-shadow: 0.4rem 0.9rem 1rem -0.1rem gray;
    cursor: pointer;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.outer:hover {
    filter: brightness(1.1);
}

.outer:active {
    filter: brightness(0.9);
}

.inner {
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    color: white;
    background-color: $theme-orange;
}

img {
    height: 80%;
    width: 80%;
    margin-top: 10%;
    transform: rotate(45deg);
    filter: invert(100);
}
</style>
