<template>
    <div class="clock">
        <div v-show="valid" class="wrap">
            <span class="hour"></span>
            <span class="minute"></span>
            <span class="second"></span>
            <span class="dot"></span>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            valid: false,
    };},
    methods: {
        clock() {
                const date = new Date();

                const hours = ((date.getHours() + 11) % 12 + 1);
                const minutes = date.getMinutes();
                const seconds = date.getSeconds();
                
                const hour = hours * 30;
                const minute = minutes * 6;
                const second = seconds * 6;
                
                document.querySelector('.hour').style.transform = `rotate(${hour}deg)`;
                document.querySelector('.minute').style.transform = `rotate(${minute}deg)`;
                document.querySelector('.second').style.transform = `rotate(${second}deg)`;
                this.valid = true;
            }
    },
    mounted() {
        // setInterval has drift;
        // replace it with a watch(now)
        setInterval(() => this.clock(), 1000);
    },
}
</script>

<style lang="scss" scoped>
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #D9D7DD;
}

.clock {
  border-radius: 100%;
  background: #ffffff;
  border: 5px solid $theme-orange;
  box-shadow: inset 0px 0px 20px $theme-light-orange;
}

.wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.hour {
    position: absolute;
    height: 1rem;
    width: 0.3rem;
    margin: auto;
    top: -1rem;
    left: -0rem;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    background: $theme-orange;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.minute {
    position: absolute;
    height: 1.6rem;
    width: 0.2rem;
    margin: auto;
    top: -1.7rem;
    left: -0.1rem;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    background: $theme-orange;
    transform-origin: bottom center;
    transform: rotate(90deg);
    box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.second {
    position: absolute;
    height: 3rem;
    width: 2px;
    margin: auto;
    top: -3rem;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: black;
    transform-origin: bottom center;
    transform: rotate(180deg);
    z-index: 1;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 100px;
    background: white;
    border: 2px solid $theme-orange;
    border-radius: 100px;
    margin: auto;
    z-index: 1;
}
</style>
