<template>
    <div class="title">
        <span>COUNTD</span>
        <title-clock class="clock-component"></title-clock>
        <span>WNS</span>
    </div>
</template>

<script>
import TitleClock from '@/components/ui/TitleClock.vue'

export default {
    components: {TitleClock},
}
</script>

<style lang="scss" scoped>
.title {
    display: flex;
    height: 5rem;
    color: $theme-orange;
    font-size: 2.8rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 1rem;
}

.clock-component {
    width: 4rem;
    height: 4rem;
    margin: 0 0.2rem 0 0.2rem;
}

span {
    text-shadow: 1.5px 1.5px 1px rgb(119, 119, 119);
}

.clock-component {
    box-shadow: 4px 4px 7px -3px rgb(119, 119, 119);
}
</style>
